<% highlight ||= {} %>
<div class="business-info">
  <div class="business-header">
      <h1 class="page-title"><a href="<%= business_url(business.id) %>">
        <%= highlight["name"] ? (highlight["name"][0]).html_safe : business.name %>
        <%#= business.name %>
      </a>
      </h1>

  </div>

  <div class="rating-container group">
    <%= render "widgets/rating", s_rating: business.rating_string, size: size || "med" %>
    <em class=""><%= business.reviews_count %> reviews</em>
  </div>

  <div class="category-container">
    <%= render "widgets/price_range", price: business.price_range_avg %>

    <% business.categories.map do |c| %>
      <span class="med-link"><a href="<%= category_url(c.id) %>"><%= c.name %></a></span>
    <% end.join(",") %>
  </div>

  <% if business.latitude.blank? || business.latitude.blank? %>
    <div class="missing">?</div>
  <% end %>
</div>
