<div class="business-info">
  <a href="<%= business_url(business.id) %>"><h2 class="page-title"><%= business.name %></h2></a>

  <div class="rating-container group">
    <%= render "widgets/rating", rating: business.rating %>
    <em class=""><%= business.reviews.length %> reviews</em>
  </div>

  <div class="category-container">
    <%= render "widgets/price_range", price: business.price_range %>

    <% business.categories.map do |c| %>
      <span class="med-link"><a href="<%= category_url(c.id) %>"><%= c.name %></a></span>
    <% end.join(",") %>
  </div>

  <% if business.latitude.blank? || business.latitude.blank? %>
    <div class="missing">?</div>
  <% end %>
</div>
