
<form action="<%= url %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="business_country_id">Country</label>
  <select name="business[country_id]" id="business_country_code">
    <% Country.all.each do |country| %>
      <option value="<%= country.id %>"><%= country.name %></option>
    <% end %>
  </select>

  <br>




  <%= render "dev/attributes", obj: business, is_form: true, prefix: "business" %>

  <fieldset class="business-categories">
  <legend>Categories</legend>
    <% 3.times do %>
      <div>
        <select name>
          <% Category.all.each do|category| %>
            <option value="<%= category.id %>">
              <%= category.name %>
            </option>
          <% end %>
        </select>

        <select name="business[category_ids][]">
          <% Category.all.each do|sub_category| %>
            <option value="<%= sub_category.id %>">
              <%= sub_category.name %>
            </option>
          <% end %>
        </select>
        <a href="#" class="small-link">Remove</a>
      </div>
    <% end %>
    <a href="#" class="small-link">Add another category</a>


  </fieldset>

  <a href="#" class="small-link">See Full Category List</a>

  <br>

  <input type="checkbox" name="business[is_opening]" value="true" id="business_is_opening"><label for="this_business_recently_opened_or_is_opening_soon">This business recently opened or is opening soon</label>

  <% if method == "post" %>
    <%= render "forms/quick_review", title: nil, body: "" %>
    <input type="submit" name="submit" value="Add Business" id="Add Business">
  <% else %>
    <input type="submit" name="submit" value="Update Business" id="Update Business">
  <% end %>
</form>

<section class="sidebar-right">
  <img src="/assets/temp/map_square.png">
</section>