
<!-- <section>
  <button onclick="placeSearch()">Google Place Search</button>
</section> -->

<form class="new-biz" action="<%= url %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label class="med-title" for="business_country_id">Country</label>
  <select name="business[country_id]" id="business_country_code">
    <% Country.all.each do |country| %>
      <option value="<%= country.id %>"><%= country.name %></option>
    <% end %>
  </select>

  <br>

  <div class="form-text-input">
    <label class="med-title" for="business_name">Name:</label>
    <input type="text" name="business[name]" value="<%= @business.name %>" id="business_name">
  </div>
  <div class="form-text-input">
    <label class="med-title" for="business_address1">Address:</label>
    <input type="text" name="business[address1]" value="<%= @business.address1 %>" id="business_address1">
    <input type="text" name="business[address2]" value="<%= @business.address2 %>" id="business_address2">
  </div>
  <div class="form-text-input">
    <label class="med-title" for="business_city">City:</label>
    <input type="text" name="business[city]" value="<%= @business.city %>" id="business_city">
  </div>
  <div class="form-text-input">
    <label class="med-title" for="business_state">State:</label>
    <input type="text" name="business[state]" value="<%= @business.state %>" id="business_state">
  </div>
  <div class="form-text-input">
    <label class="med-title" for="business_zip_code">Zip Code:</label>
    <input type="text" name="business[zip_code]" value="<%= @business.zip_code %>" id="business_zip_code">
  </div>
  <div class="form-text-input">
    <label class="med-title" for="business_phone_number">Phone Number:</label>
    <input type="text" name="business[phone_number]" value="<%= @business.phone_number %>" id="business_phone_number">
  </div>

  <fieldset class="business-categories">
    <legend class="med-title">Categories</legend>
      <% if method == "put" %>
        <% @business.categories.each do |bc| %>
    <div class="category-selects">
          <select class="select-maincategory">
            <% MainCategory.all.each do|category| %>
              <option value="<%= category.id %>" <%= "selected" if category.id == bc.main_category_id %>>
                <%= category.name %>
              </option>
            <% end %>
          </select>
          <select class="select-category" name="business[category_ids][]">
            <% Category.where(main_category_id: bc.main_category_id).all.each do|sub_category| %>
              <option value="<%= sub_category.id %>" <%= "selected" if sub_category.id == bc.id %>>
                <%= sub_category.name %>
              </option>
            <% end %>
          </select>
          <button type="button" class="btn-link remove-category">Remove</button>
    </div>
        <% end %>
      <% else %>
      <div class="category-selects">
            <select class="select-maincategory">
              <% MainCategory.all.each do|category| %>
                <option value="<%= category.id %>">
                  <%= category.name %>
                </option>
              <% end %>
            </select>

            <select class="select-category" name="business[category_ids][]">
              <% Category.where(main_category_id: 1).all.each do|sub_category| %>
                <option value="<%= sub_category.id %>">
                  <%= sub_category.name %>
                </option>
              <% end %>
            </select>
            <button type="button" class="btn-link remove-category">Remove</button>
      </div>
      <% end %>

    <button type="button" class="btn-link add-category">Add another category</button>
  </fieldset>

  <!-- <a href="#" class="small-link">See Full Category List</a> -->


  <!-- <input type="checkbox" name="business[is_opening]" value="true" id="business_is_opening"><label for="this_business_recently_opened_or_is_opening_soon">This business recently opened or is opening soon</label> -->

  <% if method == "post" %>
    <%= render "forms/quick_review", business: @business, title: nil, body: "" %>
    <button class="red-btn" type="submit">Add Business</button>
  <% else %>
    <button class="red-btn" type="submit">Update</button>
  <% end %>
</form>

<!-- <section class="sidebar-right">
  <img src="/assets/temp/map_square.png">
</section> -->

<script id="script-category" type="application/json">
  <%= Category.all.to_json.html_safe %>
</script>

<script>
  $(function() {
  var $categoryClone = $(".category-selects").first().clone();
    var categories = JSON.parse($("#script-category").html());

    $(".business-categories").on("change", ".select-maincategory", function() {
      var $category = $(this).next();
      var value = $(this).prop("value");
      $category.find("option").remove();

      for(var i=0; i < categories.length; i++) {
        if (categories[i].main_category_id == value) {
          $newCat = $('<option value="' + categories[i].id + '">' + categories[i].name + '</option>');
          $newCat.appendTo($category);
        }
      }
    });

    $(".business-categories").on("click", ".remove-category", function() {
      $(this).closest(".category-selects").remove();
    });

    $(".add-category").click( function() {
      if ($(".business-categories").find(".category-selects").length < 3) {
        $(".business-categories").append($categoryClone.clone());
      }
    });

  });
</script>