
<section class="business-sidebar">

	<section class="now-info-container">
		<div>
			<table>
				<tr>
					<td></td>
					<td>Today <strong><%= business.now_hours %></strong>
						<% if business.is_open? %>
							<strong class="green">Open</strong>
						<% else %>
							 <strong class="red">Closed</strong>
						<% end %>
					</td>
				</tr>
				<!-- <tr><td></td><td></td></tr> -->
				<tr>
					<td><%= render "widgets/price_range" %></td>
					<td> Price Range
						<strong><%= business.price_range_avg > 0 ? PriceRange.find(business.price_range_avg).description : "?" %></strong>
					</td>
				</tr>
			</table>
		</div>
	</section>

	<section class="biz-info hours-container">
		<h3 class="red-title">Hours</h3>
		<table>
			<% business.business_hours.each do |hour| %>
				<tr>
					<td><strong><%= hour.day %></strong></td>
					<td><%= hour.open_hours %></td>
					<td>
						<% if hour.day == Time.now.wday %>
						<%= "Open" if (hour.time_open..hour.time_close) === Time.now %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>
	</section>

	<section class="biz-info general-info">
		<h3 class="red-title">More business info</h3>

		<ul>
			<% business.features.each do |feature| %>
			<li>

				<% if feature.feature_category_id == 1 %>
					<%= feature.name %>
					<strong><%= "Yes" %></strong>
				<% else %>
					<%= FeatureCategory.find(feature.feature_category_id).name %>
					<strong><%= feature.name %></strong>
				<% end %>

			</li>
		<% end %>
		</ul>
	</section>
</section>
