
<section>

	<section>
		<div>
			<ul>
				<li>Today <strong><%= business.now_hours %></strong> <%= business.is_open? ? "Open" : "Closed"%></li>
				<li></li>
				<li>
					<%= render "widgets/price_range" %> Price Range 
					<strong><%= PriceRange.find(business.price_range).description %></strong>
				</li>
			</ul>
		</div>
	</section>

	<section>
		<h3 class="red-title">Hours</h3>
		<ul>
			<% business.business_hours.each do |hour| %>
				<li>
					<strong><%= hour.day %></strong>
					<%= hour.open_hours %>
					<%= "Open" if (hour.time_open..hour.time_close) === Time.now %>
				</li>
			<% end %>
		</ul>
	</section>

	<section class="general-info">
		<h3 class="red-title">More business info</h3>

		<ul>
			<li>
				<%= render "widgets/price_range" %> Price Range <strong><%= PriceRange.find(business.price_range).description %></strong>
			</li>
			<% business.features.each do |feature| %>
			<li>
				<%= FeatureCategory.find(feature.feature_category_id).name %>
				<strong>
				<% if feature.feature_category_id == 1 %>
					<%= "Yes" %>
				<% else %>
					<%= feature.name %>
				<% end %>
				</strong>
			</li>
		<% end %>
		</ul>
	</section>
</section>
