<div class="business-result group">
  <section class="business-info-container group">
    <img width="100" src="<%= business.avatar %>">

    <div class="business-stats">
      <%= render "businesses/business_info", business: business %>
    </div>

    <div class="business-address">
      <address>
        <%= business.address1 %><br>
        <%= business.address2 %><br>
        <%= business.phone_number %>
      </address>
    </div>
  </section>

  <% if business.top_review %>
  <section class="review-container group">
    <div class="user-avatar">
      <img height="40" src="<%= business.top_review.user.avatar %>">
    </div>
    <div class="highlight-body">
      <%= business.top_review.body[0..50] %>
    </div>
  </section>
  <% end %>
</div>


