<% highlight ||= {} %>
<div class="business-result group" data-lat="<%= business.latitude %>" data-lng="<%= business.longitude %>">
  <section class="business-info-container group">
    <img class="avatar-90" width="100" src="<%= business.avatar %>">

    <div class="business-stats">
      <%= render "businesses/business_info", business: business, size: "large", highlight: highlight %>
    </div>

    <div class="business-address">
      <address>
        <p class="biz-neighborhood"><%= business.neighborhood.name %>, <%= business.neighborhood.area.name %></p>
        <p><%= business.address1 if business.address1 %></p>
        <p><%= business.address2 if business.address2 %></p>
        <p><%= "#{business.city}, #{business.state} #{business.zip_code}" if business.city %></p>
        <p><%= business.phone_number %></p>
      </address>
    </div>
  </section>

  <% if business.top_review %>
    <section class="review-container group">
      <div class="avatar-30 left">
        <img src="<%= business.top_review.user_avatar %>">
      </div>
      <div class="highlight-body">

        <%= highlight["top_review.body"] ? (highlight["top_review.body"]).html_safe : business.top_review.body[0..190] %>
      </div>
    </section>
  <% end %>
</div>


