<div class="business-result group" data-lat="<%= business.latitude %>" data-lng="<%= business.longitude %>">
  <section class="business-info-container group">
    <img class="avatar-90" width="100" src="<%= business.avatar %>">

    <div class="business-stats">
      <%= render "businesses/business_info", business: business, size: "large" %>
    </div>

    <div class="business-address">
      <address>
        <p class="biz-neighborhood"><%= business.neighborhood.name %></p>
        <p><%= business.address1 if business.address1 %></p>
        <p><%= business.address2 if business.address2 %></p>
        <p><%= "#{business.city}, #{business.state} #{business.zip_code}" if business.city %></p>
        <p><%= business.phone_number %></p>
      </address>
    </div>
  </section>

  <% if business.top_review %>
    <section class="review-container group">
      <div class="avatar-30 left">
        <img height="40" src="<%= business.top_review.user.avatar %>">
      </div>
      <div class="highlight-body">
        <%= business.top_review.body[0..190] %>
      </div>
    </section>
  <% end %>
</div>


<!-- var makeReviewElement = function(business) {
  var $mainEl = $('<div class="business-result group"></div>');
  $mainEl.prop("data-lat",business.latitude)
  $mainEl.prop("data-lng",business.longitude)

  var $infoEl = $('<section class="business-info-container group"></section>');
  $mainEl.append($infoEl)
  $avatar = $('<img class="avatar-90" width="100">')
  $avatar.prop("src", business.avatar)
  $infoEl.append($avatar)

  $infoEl.append(<div class="business-address"></div>);

  $address = $("<address></address>");
  $address.append('<p class="biz-neighborhood">' + '</p>')
  $address.append('<p>' + '</p>')
  $address.append('<p>' + '</p>')
  $address.append('<p>' + '</p>')
  $address.append('<p>' + '</p>')



  $infoEl.append('<img class="avatar-90" width="100">')
} -->


