



<div class="top-shelf group">
  <div class="business-header group">
    <div class="business-info">
      <h2 class="page-title"><%= @business.name %></h2>

      <div class="rating-container group">
        <%= render "widgets/rating" %>
        <em class=""><%= @business.reviews.length %> reviews</em>
      </div>

      <div class="category-container">
        <%= render "widgets/price_range" %>



        <% (1..3).each do |index| %>
          <% category_id = @business["category#{index}_id"] %>
          <% next if category_id.nil? %>
          <a href="#"><%= SubCategory.find(category_id).name %></a>
        <% end %>
      </div>
    </div>

    <div class="business-interact">
      <button class="add-button review-button">Write a Review</button>
      <button class="add-button photo-button">Add Photo</button>
      <button class="add-button share-button">Share</button>
      <button class="add-button bookmark-button">Bookmark</button>
    </div>
  </div>

  <div class"mosaic">
    <ul class="m group">
      <li><img width="290" src="/assets/temp/map_square.png"></li>
      <li><img width="220" src="/assets/temp/photo_med_square.jpg"></li>
      <li><img width="250" src="/assets/temp/photo_med_square.jpg"></li>
      <li><img width="220" src="/assets/temp/photo_med_square.jpg"></li>
    </ul>
  </div>

  <a class="more-photos" href="#">See all <%= @business.photos.length %> photos</a>
</div>


<section class="content-left">
  <section class="review-highlights">
      <%= render "reviews/highlight", review: @business.reviews[0] %>
      <%= render "reviews/highlight", review: @business.reviews[1] %>
      <%= render "reviews/highlight", review: @business.reviews[2] %>
  </section>
  <a href="#">Show more review highlights</a>



  <div class="reviews-list">
    <h2>Recommended Reviews</h2>
    <label for="search_reviews">Search reviews</label>
    <input type="text" name="search_reviews" value="" id="search_reviews">
    <button>Search</button>
  </div>


  Yelp Sort

  <a href="#">Date</a>

  <a href="#">Rating</a>

  <a href="#">Elites</a>




  <% @business.reviews.each do |review| %>
    <%= render "reviews/medium", review: review %>
  <% end %>

</section>

<section class="right-sidebar group">

  CONTENT
</section>

<section class="best-yelp-category group">
  <h3><strong>Best of Yelp</strong></h3>
  <ul class="photos-container group">
  <% bestBiz = Business.best(@business.category1_id) %>
  <% 5.times do |rest| %>
  <li><%= render "businesses/store_front_photo", business: @business %></li>
  <% end %>
</ul>
  <a href="#">See More</a>
</section>


