



<div class="top-shelf group">
  <div class="business-header group">
    <%= render "businesses/business_info", business: @business %>
    <div class="business-interact">
      <%= button_to "Write a Review", business_writeareview_url(@business.id), method: :get %>

      <%= button_to "Add Photo", business_add_photo_url(@business.id), method: :get %>
      <button class="add-button share-button">Share</button>
      <button class="add-button bookmark-button">Bookmark</button>
    </div>
    <a href="<%= edit_business_url(@business.id) %>">edit</a>
  </div>

  <div class"mosaic">
    <ul class="m group">
      <li><img width="290" src="<%= get_half_map(@business.gps) %>"></li>
      <% @business.main_photos.each do |photo| %>
        <li><a href="<%= business_photos_url(@business.id, photo_id: photo.id) %>"><img width="<%= photo.is_store_front? ? 250 : 220 %>" src="<%= photo.url %>"></a></li>
      <% end %>
    </ul>
  </div>

  <a class="more-photos" href="<%= business_photos_url(@business.id) %>">See all <%= @business.photos.length %> photos</a>
</div>


<section class="content-left">
  <section class="review-highlights">
    <% @business.get_highlight_reviews(3).each do |review| %>
      <%= render "reviews/highlight", review: review %>
    <% end %>
  </section>
  <a href="#">Show more review highlights</a>



  <div class="reviews-list">
    <h2>Recommended Reviews</h2>
    <label for="search_reviews">Search reviews</label>
    <input type="text" name="search_reviews" value="" id="search_reviews">
    <button>Search</button>
  </div>


  Yelp Sort

  <a href="#">Date</a>

  <a href="#">Rating</a>

  <a href="#">Elites</a>



  <% @business.reviews.each do |review| %>
    <%= render "reviews/medium", review: review %>
  <% end %>

</section>

<section class="right-sidebar group">

  CONTENT
</section>

<section class="best-yelp-category group">
  <h3><strong>Best of Yelp</strong></h3>
  <ul class="photos-container group">

    <% Business.best(@business.categories).each do |rest| %>
    <li><%= render "businesses/store_front_photo", business: rest %></li>
    <% end %>
  </ul>
  <a href="#">See More</a>
</section>


