

<section class="shelf-main-content group">

<%= render "layouts/errors" %>


  <div class="top-shelf-back group">
    <div class="top-shelf group">
      <div class="business-page-header left">
        <%= render "businesses/business_info", business: @business, size: "large" %>

        <div class="business-interact">
          <%= button_to "Write a Review", business_writeareview_url(@business.id), method: :get, class: "red-btn left" %>

          <%= button_to "Add Photo", business_add_photo_url(@business.id), method: :get, class: "gray-btn left" %>
        </div>
      </div>

      <div class"mosaic">
        <%= render "widgets/half_map", business: @business %>

        <ul class="m group">
          <% @business.main_photos.each_with_index do |photo,i| %>
          <li>
            <%= render "photos/with_lower3",  icon_url: business_photos_url(@business.id, photo_id: photo.id),
                                              width: i==1 ? 250 : 220,
                                              photo: photo
                                            %>
          </li>
          <% end %>
        </ul>
      </div>

      <a class="more-photos" href="<%= business_photos_url(@business.id) %>">See all <%= @business.photos.length %> photos</a>
    </div>
  </div>


  <section class="main-shelf group">
    <section class="content-left">
      <section class="review-highlights">
        <% @business.get_highlight_reviews(3).each do |review| %>
          <div class="review-highlight group">
            <div class="avatar-med left"><img src="<%= review.user.avatar(:medium) %>"></div>

            <blockquote class="left">
              <span class="quote-left">"</span><%= review.snippet %><span class="quote-right">"</span>
            </blockquote>
          </div>
        <% end %>
      </section>
      <!-- <a href="#">Show more review highlights</a> -->



      <div class="reviews-list">
        <h1 class="red-title">Recommended Reviews</h1>
        <!-- <label for="search_reviews">Search reviews</label>
        <input type="text" name="search_reviews" value="" id="search_reviews">
        <button>Search</button> -->
      </div>


      <% @business.reviews.each do |review| %>
        <%#= render "reviews/business_page", review: review %>
        <%= render "reviews/basic", review: review,
                                    has_headline: false %>
      <% end %>

    </section>

    <section class="right-sidebar group">
      <%= render "businesses/info", business: @business %>
    </section>




    <%= render "scripts/vote" %>

  </section>

  <section class="biz-recommendations-category group">
    <h1 class="red-title"><strong>Best of Yelp</strong></h1>
    <ul class="photos-container group">

      <% @best_businesses.each do |rest| %>
        <li>
          <%= render "photos/with_lower3_biz",  icon_url: business_url(rest.id),
                                                width: 180,
                                                business: rest,
                                                photo: rest.avatar
                                          %>
        </li>
      <% end %>
    </ul>
    <!-- <a href="#">See More</a> -->
  </section>

</section>