<form action="<%= url %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="compliment[review_id]" value="<%= @review.id %>">

  <fieldset class="compliment-container group">
    <% Compliment.all.each do |c| %>
    <div class="compliment-choice">
      <input type="radio" name="compliment[compliment_id]" value="<%= c.id %>" id="compliment_<%= c.name %>" <%= "checked" if @compliment.compliment_id == c.id %>>
      <label for="compliment_<%= c.name %>"><%= c.name %></label>
    </div>
    <% end %>
  </fieldset>

  <div>
    <textarea name="compliment[body]" rows="8" cols="60"><%= @compliment.body %></textarea>
  </div>
  <input type="submit" name="submit" value="submit" id="submit">
  <a href="<%= url_for(:back) %>">Cancel</a>
</form>