<form action="" method="post">
  <input type="hidden" name="_method" value="put">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <% @profile.attributes.each do |key, value| %>
  <label for="profile_<%= key %>"><%= key %></label>
  <br>
  <input type="text" name="profile[<%= key %>]" value="<%= value %>" id="profile_<%= key %>">
  <br>
  <% end %>


  <input type="submit" name="Save Changes" value="submit" id="Save Changes">
</form>