<section class="main-content">

<%= render "layouts/errors" %>

<form class="sign-in" action="<%= users_url %>" method="post" accept-charset="utf-8">
  <h3 class="red-title"><%= title %></h3>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <% if signup_page %>
  <div class="form-text-input">
    <label class="med-title" for="user_first_name">First Name</label>
    <input size="40" type="text" name="user[first_name]" value="" id="user_first_name">
  </div>
  <div class="form-text-input">
    <label class="med-title" for="user_last_name">Last Name</label>
    <input size="40" type="text" name="user[last_name]" value="" id="user_last_name">
  </div>
  <% end %>

  <div class="form-text-input">
    <label class="med-title" for="user_email">Email</label>
    <input size="40" type="text" name="user[email]" value="<%= @user.email %>" id="user_email">
  </div>
  <div class="form-text-input">
    <label class="med-title" for="user_password">Password</label>
    <input size="40" type="password" name="user[password]" value="" id="user_password">
  </div>

  <div><button class="red-btn" type="submit" id="signup-user"><%= btn_text %></button></div>
</form>

<form class="sign-in-guest" action="<%= session_url %>" method="post" accept-charset="utf-8">
  <input type="hidden" name="user[email]" value="guest@example.com">
  <input type="hidden" name="user[password]" value="123456">

  <div><button class="red-btn" type="submit" id="login-guest">Log in as Guest</button></div>
</form>

</section>