
<div class="user-achievements">
  <ul>
    <% if user.friends_count > 0 %>
      <li>
        <img src="/assets/temp/star.jpg" height="20">
        <span><strong><%= user.friends_count %></strong> friends</span>
      </li>
    <% end %>
    <% if user.reviews_count > 0 %>
    <li>
      <a href="<%= profile_url %>">
        <img src="/assets/temp/star.jpg" height="20">
        <span><strong><%= user.reviews_count %></strong> reviews</span>
      </a>
    </li>
    <% end %>
    <% if user.fans_count > 0 %>
    <li>
      <img src="/assets/temp/star.jpg" height="20">
      <span><strong><%= user.fans_count %></strong> fans</span>
    </li>
    <% end %>

    <% if user.photos_count > 0 %>
    <li>
      <a href="<%= user_photos_url(user.id) %>">
        <img src="/assets/temp/star.jpg" height="20">
        <span><strong><%= user.photos_count %></strong> photos</span>
      </a>
    </li>
    <% end %>

</ul>
<div>

