
<div class="user-achievements">
  <ul>
    <% if user.friends_count > 0 %>
      <li>
      <a href="#">
        <img src="/assets/temp/star.jpg" height="20">
        <span><strong><%= user.friends_count %></strong> friends</span>
      </a>
      </li>
    <% end %>
    <% if user.reviews.length > 0 %>
    <li>
      <a href="<%= profile_url %>">
        <img src="/assets/temp/star.jpg" height="20">
        <span><strong><%= user.reviews.length %></strong> reviews</span>
      </a>
    </li>
    <% end %>
    <% if user.fans.length > 0 %>
    <li>
      <img src="/assets/temp/star.jpg" height="20">
      <span><strong><%= user.fans.length %></strong> fans</span>
    </li>
    <% end %>
    <% if user.tips.length > 0 %>
    <li>
      <a href="#">
        <img src="/assets/temp/star.jpg" height="20">
        <span><strong><%= user.tips.length %></strong> tips</span>
      </a>
    </li>
    <% end %>
    <% if user.photos.length > 0 %>
    <li>
      <a href="#">
        <img src="/assets/temp/star.jpg" height="20">
        <span><strong><%= user.photos.length %></strong> photos</span>
      </a>
    </li>
    <% end %>
    <% if user.lists.length > 0 %>
    <li>
      <a href="#">
        <img src="/assets/temp/star.jpg" height="20">
        <span><strong><%= user.lists.length %></strong> lists</span>
      </a>
    </li>
    <% end %>
</ul>
<div>

