
<div class="avatar-large group">
  <div class="side-left left">
    <a href="<%= profile_url %>"><img class="img-avatar" src="<%= user.avatar %>"></a>
  </div>

  <div class="left">
    <ul class="group">
      <strong>
      <li><a href="<%= user_url(user.id) %>"><%= user.name %></a></li>
      <li><div><%= user.profile_locations[0].address %></div></li>
    </strong>
      <li>
        <img class="left" src="<%= user.avatar %>" height="10">
        <span><%= user.friends_count %></span>
      </li>

      <li>
        <img class="left" src="/assets/temp/star.jpg" height="10">
        <span><%= user.reviews_count %></span>
      </li>
    </ul>
  </div>
</div>