
<div class="avatar group">
  <div class="group">
    <div class="side-left left">
      <a href="<%= profile_url %>"><img class="img-avatar" src="<%= user.avatar %>"></a>

    </div>

    <div class="side-stats left">
      <img class="left" src="<%= user.avatar %>" height="10">
      <span><%= user.friends_count %></span>
    </div>

    <div class="side-stats left">
      <img class="left" src="/assets/temp/star.jpg" height="10">
      <span><%= user.reviews_count %></span>
    </div>
  </div>
  <div class="side-right">
    <ul class="group">

      <li><a href="<%= user_url(user.id) %>"><%= user.name %></a></li>
      <li><div><%= user.display_location %></div></li>

    </ul>
  </div>
</div>