<header>
  <nav class="user-detail-container">
    <ul class="user-profile-nav group">
      <li><div><a href="<%= user_url(@user.id) %>">Profile Home</a></div></li>
      <!-- <li><div><a href="#">Lists</a></div></li> -->
      <!-- <li><div><a href="#">Reviews</a></div></li>
      <li><div><a href="#">Tips</a></div></li> -->
      <li><div><a href="<%= compliments_user_url(user.id) %>">Compliments</a></div></li>
      <!-- <li><div><a href="#">Friends</a></div></li> -->
      <li><div><a href="<%= bookmarks_user_url(user.id) %>">Bookmarks</a></div></li>
      <!-- <li><div><a href="#">Events</a></div></li> -->
    </ul>
  </nav>
  <section class="user-profile-title">
    <h1 class="red-title left"><%= user.name %>'s Profile</h1>
    <% if user == current_user %>
      <a href="<%= edit_user_url(user.id) %>">edit</a>
    <% end %>
  </section>
</header>