<div>

  <a href="<%= profile_url %>"><img src="<%= user.avatar %>" height="50"></a>
  <em>Photo added by</em>
  <a href="<%= user_url(user.id) %>"><%= user.name %></a>
  <div><%= user.profile_locations[0].address %></div>
  <a href="<%= profile_url %>"><img src="<%= current_user.avatar %>" height="10"></a>
  <span><strong><%= user.friends_count %></strong> friends</span>
  <a href="<%= profile_url %>"><img src="/assets/temp/star.jpg" height="10"></a>
  <span><strong><%= user.reviews_count %></strong> reviews</span>

</div>