<section class="profile-sidebar">



  <section class="photos-container group">
    <div class="user-avatar left"><img width="120" src="<%= user.avatar %>"></div>
    <div class="thumb-photos">
      <% if user.photos.length > 0 %>
        <% user.top_photos(9).each do |photo| %>
        <div class="left">
          <a href="<%= user_photos_url(user.id, photo_id: photo.id) %>"><img class="img-icon" src="<%= photo.url %>"></a>
        </div>
        <% end %>
      <% else %>
        <a class="med-link left" href="#">Upload a Photo</a>
      <% end %>
    </div>
  </section>

  <% bio = user.bio %>

  <% if bio.headline %>
    <section class="user-headline"><strong>"<%= bio.headline %>"</strong></section>
  <% end %>

  <%= render "users/achievements", user: user %>

  <section class="user-interact">

  </section>

  <section class="group">
    <h3 class="red-title">Rating Distribution</h3>
    <%  %>
  </section>

  <section class="group">
    <h3 class="red-title">Compliments</h3>
    <% user.compliment_count.each do |c| %>
      <% c_name = c["name"].gsub(" ","-").gsub("'","").downcase %>
      <div class="compliment-container-30">
        <div class="<%= c_name %>-30"></div>
        <p><%= c["count"] %></p>
      </div>
    <% end %>
  </section>

  <section class="user-bio group">
    <h3 class="red-title">Bio</h3>

    <ul>
      <% user.bio.attributes.each do |title, desc| %>
        <% next if desc.blank? || title.include?("id") || title == "created_at" || title == "updated_at"%>
        <li class="one-bio">
          <div class="bio-title">
            <strong><%= title%></strong>
          </div>
          <div class="bio-desc">
            <%= desc %>
          </div>
        </li>
      <% end %>
    </ul>
  </section>

</section>