

<section class="home-page main-content group">

<section class="main-side left">
  <div class="reviews">
    <ul>
      <% @reviews.each do |review| %>
        <li>
        <%= render "reviews/basic", review: review,
                                    img_size: :medium,
                                    has_headline: true %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="new-biz">
    <h1 class="red-title"><strong>New Businesses</strong></h1>
    <ul class="photos-container group">

      <% Business.recent(3).each do |rest| %>
        <li>
          <%= render "photos/with_lower3_rating",  icon_url: business_url(rest.id),
                                                width: 180,
                                                business: rest,
                                                photo: rest.avatar
                                          %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="best-yelp">

  </div>

</section>

<section class="sidebar-right left">
  <% if current_user %>
    <div class="user-stats">
      <div class="general-info">
        <div class="group">
          <div class="avatar left">
            <a href="<%= profile_url %>"><img src="<%= current_user.avatar %>"></a>
          </div>

          <ul class="icons left">
            <li>
              <img class="left" src="<%= current_user.avatar %>" height="10">
              <span><%= current_user.friends_count %></span>
            </li>

            <li>
              <img class="left" src="/assets/temp/star.jpg" height="10">
              <span><%= current_user.reviews_count %></span>
            </li>
          </ul>

          <ul class="names left">
            <li><a href="<%= user_url(current_user.id) %>"><%= current_user.name %></a></li>
            <li><div><%= current_user.profile_locations[0].address %></div></li>
          </ul>
        </div>

      </div>

      <div class="review-stats">
        <ul class="group">
          <li><div class="icon-useful left"></div><strong></strong> useful votes</li>
          <li><div class="icon-cool left"></div><strong></strong> cool votes</li>
          <li><div class="icon-funny left"></div><strong></strong> funny votes</li>
          <li><div class="icon-compliment left"></div><strong></strong> compliments</li>
        </ul>
      </div>
    </div>
  <% end %>
</section>

</section>

<%= render "scripts/vote" %>
<%= render "scripts/compliment_dropdown" %>

