
<section class="main-content group">

<%= render "layouts/errors" %>
<%= render "users/header_nav", user: @user %>

<section class="user-main-body group">
  <%= render "users/user_info", user: @user %>

  <section class="mid-content">
    <header class="">
      <h3 class="red-title">Recent Reviews</h3>
    </header>
    <% @reviews.order("updated_at DESC").each do |review| %>
      <%= render "reviews/detailed", review: review %>
    <% end %>
  </section>

  <section class="sidebar-right">
    <%= render "widgets/friends", friends: @user.friends %>

    <%= render "widgets/recent_compliments", compliments: @user.review_compliments.order("updated_at DESC") %>

    <%= render "widgets/lists", lists: @user.lists %>
  </section>
</section>

</section>

<%= render "scripts/vote" %>
<%= render "scripts/compliment_dropdown" %>