<!-- -->

<section id="recent-compliments" class="section-container">


<% if compliments.empty? %>
	<h3 class="red-title">No Compliments</h3>

<% else %>

	<h3 class="red-title"><%= compliments.length %> Compliments</h3>

	<ul>
		<% compliments.each_with_index do |rc,i| %>
			<% break if i > 3 %>
			<li class="compliment-quick group">
				<div class="avatar-container left">
			    <a href="<%= user_url(rc.user_id) %>"><img class="avatar-30" src="<%= rc.user.avatar(:medium) %>"></a>
			  </div>

			  <div class="side-right">
					<span>
						<div class="<%= rc.compliment.image_name %>-20 left"></div>
					  <p class="compliment-name"><%= rc.compliment.name %></p>
					</span>

					<p class="compliment-body"><%= text_snippet(rc.body, 40) %></p>
				</div>
			</li>
		<% end %>
	</ul>
<% end %>

</section>