<% if current_user && review.user_id != current_user.id %>
<div class="review-upvote-container group">
  <div class="upvote-question"><p>Was this review ...?</p></div>
  <form
    class="review-vote"
    action="<%= toggle_vote_review_url(review.id) %>"
    method="post"
    data-remote="true">

    <% review_votes = user_votes.select { |v| v.review_id == review.id } %>
    <% all_votes.each do |vote| %>
      <% count = vote_counts[[review.id.to_s, vote.id]] %>
      <% voted_id = review_votes.select { |v| v.vote_id == vote.id }[0] %>
      <% display_name = ( count ? "#{vote.name} ( #{count} )" : vote.name ) %>
      <button   type="submit"
                class="vote-<%= vote.id %>"
                name="vote_id"
                value="<%= vote.id %>"><div class="icon-<%= vote.name.downcase %> left <%= 'faded' unless voted_id %>"></div><span><%= display_name %></span></button>
    <% end %>
  </form>

  <% if current_user && review.user_id == current_user.id %>
    <a href="<%= edit_review_url(review.id) %>">edit</a>
  <% end %>
</div>
<% end %>







