<nav class="search-filters-container">
  <section class="filter-header group">
    <header class="result-header">
      <div class="search-string group">
        <h2><strong><%= "#{@find_desc} " unless @find_desc.blank? %></strong><%=City.find(@find_loc).name %></h2>
        <% if @results.length > 0 %>
          <em class="right"><%= page_entries_info @results %></em>
        <% else %>
          <em class="right">No results</em>
        <% end %>
      </div>

      <div class="category-browse">
        <h2>Browse Category:</h2>
        <ul class="group">
          <% @recommend_categories.each do |category| %>
            <li><a href="<%= category_url(category.id) %>" class="med-link"><%= category.name %></a></li>
          <% end %>
        </ul>
      </div>

      <div class="filter-hide"><a class="med-link">Hide Filters</a></div>
    </header>

    <div class="group">
      <nav class="breadcrumb-container">
        <% @breadcrumbs.each do |crumb, c_url| %>
          <h3 class="title-link left">
            <% if c_url == "" %>
              <%= crumb %>
            <% else %>
              <a href="<%= c_url %>"><%= crumb %></a> >
            <% end %>
          </h3>
        <% end %>
      </nav>


    </div>
    <div class="finer-filter-container group">
      <% if @finer_filters %>
        <%#= render "widgets/columns", columns: 6, data: Neighborhood.where(area_id: 1), base_url: search_url(category_id: @category.id), param_name: "neighborhood_id" %>
        <%= render  "widgets/columns",
                    columns: 6,
                    data: @finer_filters,
                    # base_url: "/search?",
                    base_url: search_url(@saved_params) + "&",
                    param_name: @finer_filter_name,
                    max_rows: 4 %>
      <% end %>

    </div>

  </section>

  <form class="form-fine-filters" action="<%= search_url( @saved_params) %>" method="get">
    <input type="hidden" name="find_desc" value="<%= @find_desc %>">
    <input type="hidden" name="find_loc" value="<%= @find_loc %>">
    <section class="search-filter-container group">
      <section class="column left">
        <h3 class="filter-title red-title">Sort By</h3>

        <ul>
          <li>
            <input type="radio" name="search[sort]" id="search_sort" value="" <%= "checked" if @search_params[:sort] == "" %>>
            <label for="search_sort">Best Match</label>
          </li>
          <li>
            <input type="radio" name="search[sort]" id="search_sort" value="rated" <%= "checked" if @search_params[:sort] == "rated" %>>
            <label for="search_sort">Highest Rated</label>
          </li>
          <li>
            <input type="radio" name="search[sort]" id="search_sort" value="reviewed" <%= "checked" if @search_params[:sort] == "reviewed" %>>
            <label for="search_sort">Most Reviewed</label>
          </li>
        </ul>
        <a class="filter-more" href="#"></a>
      </section>

      <section class="column left">
        <h3 class="filter-title red-title">Neighborhoods</h3>
        <ul id="neighborhood-selections">
          <% cnt = 0 %>
          <% extra_neighborhoods = Neighborhood.limit(5) %>
          <% @select_neighborhoods.each do |c| %>
            <li>
              <% if cnt > 4 %>
                <input type="hidden" name="search[neighborhood_id][]" value="<%= c.id %>">
              <% else %>
                <input type="checkbox" id="c_<%= c.id %>" name="search[neighborhood_id][]" value="<%= c.id %>" checked>
                <label for="c_<%= c.id %>"><%= c.name %></label>
              <% end %>
            </li>
            <% cnt += 1 %>
          <% end %>

          <% while cnt < 5 && extra_neighborhoods.any? do  %>
            <% c = extra_neighborhoods.shift %>
            <% next if @select_neighborhoods.select { |en| en.id == c.id }.any? %>
            <li>
              <input type="checkbox" id="c_<%= c.id %>" name="search[neighborhood_id][]" value="<%= c.id %>">
              <label for="c_<%= c.id %>"><%= c.name %></label>
            </li>
            <% cnt += 1 %>

          <% end %>








        </ul>
        <button class="btn-link" type="button" onclick='showFilterPopup("#neighborhood-popup", "#neighborhood-selections")'>More Neighborhoods</button>
      </section>

      <section class="column left">
        <h3 class="filter-title red-title">Distance</h3>
        <ul>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="1" <%= "checked" if @search_params[:distance] == "1" %>>
            <label for="search_distance">Bird's Eye View</label>
          </li>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="2" <%= "checked" if @search_params[:distance] == "2" %>>
            <label for="search_distance">Driving (5 mi.)</label>
          </li>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="3" <%= "checked" if @search_params[:distance] == "3" %>>
            <label for="search_distance">Biking (2 mi.)</label>
          </li>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="4" <%= "checked" if @search_params[:distance] == "4" %>>
            <label for="search_distance">Walking (1 mi.)</label>
          </li>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="5" <%= "checked" if @search_params[:distance] == "5" %>>
            <label for="search_distance">Within 4 blocks</label>
          </li>
        </ul>
        <a class="filter-more" href="#"></a>
      </section>

      <section class="column left">
        <h3 class="filter-title red-title">Price</h3>
        <ul>
          <% PriceRange.all.each do |p| %>
            <li>
              <% p_choice = @search_params[:price_range] || [] %>
              <input type="checkbox" id="p_<%= p.id %>" name="search[price_range][]" value="<%= p.id %>" <%= "checked" if p_choice.include?(p.id.to_s) %>>
              <label for="p_<%= p.id %>"><%= p.name %></label>
            </li>
          <% end %>
        </ul>

        <a class="filter-more" href="#"></a>
      </section>

      <section class="column left">
        <h3 class="filter-title red-title">Features</h3>
        <ul id="feature-selections">
          <% cnt = 0 %>
          <% extra_features = Feature.limit(5) %>
          <% @select_features.each do |c| %>
            <li>
              <% if cnt > 4 %>
                <input type="hidden" name="search[feature_id][]" value="<%= c.id %>">
              <% else %>
                <input type="checkbox" id="c_<%= c.id %>" name="search[feature_id][]" value="<%= c.id %>" checked>
                <label for="c_<%= c.id %>"><%= c.name %></label>
              <% end %>
            </li>
            <% cnt += 1 %>
          <% end %>

          <% while cnt < 5 && extra_features.any? do  %>
            <% c = extra_features.shift %>
            <% next if @select_features.select { |ef| ef.id == c.id }.any? %>
            <li>
              <input type="checkbox" id="c_<%= c.id %>" name="search[feature_id][]" value="<%= c.id %>">
              <label for="c_<%= c.id %>"><%= c.name %></label>
            </li>
            <% cnt += 1 %>
          <% end %>


        </ul>
        <button class="btn-link" type="button" onclick='showFilterPopup("#feature-popup", "#feature-selections")'>More Features</button>
      </section>










      <% unless @category_id %>
        <section class="column left">
          <h3 class="filter-title red-title">Category</h3>
          <ul id="category-selections">
            <% cnt = 0 %>
            <% extra_categories = Category.limit(5) %>
            <% @select_categories.each do |c| %>
              <li>
                <% if cnt > 4 %>
                  <input type="hidden" name="search[category_id][]" value="<%= c.id %>">
                <% else %>
                  <input type="checkbox" id="c_<%= c.id %>" name="search[category_id][]" value="<%= c.id %>" checked>
                  <label for="c_<%= c.id %>"><%= c.name %></label>
                <% end %>
              </li>
              <% cnt += 1 %>
            <% end %>

            <% while cnt < 5 && extra_categories.any? do  %>
              <% c = extra_categories.shift %>
              <% next if @select_categories.select { |ec| ec.id == c.id }.any? %>
              <li>
                <input type="checkbox" id="c_<%= c.id %>" name="search[category_id][]" value="<%= c.id %>">
                <label for="c_<%= c.id %>"><%= c.name %></label>
              </li>
              <% cnt += 1 %>
            <% end %>
          </ul>
          <!-- <button class="btn-link" type="button" onclick='showFilterPopup("#category-popup", "#category-selections")'>More Categories</button> -->
          <button class="btn-link" type="button" onclick='showFilterPopup("#category-popup", "#category-selections")'>More Categories</button>
        </section>
      <% end %>
      <input id="fine-search-submit" type="submit" name="Submit">
    </section>
  </form>
</nav>

<%= render "popups/categories",
          url: review_compliments_url,
          main_category_id: 1,
          method: "post" %>


<%= render "popups/features",
          method: "post" %>

<%= render "popups/neighborhoods",
          method: "post" %>