<nav class="search-filters-container">
  <section class="filter-header group">
    <div class="group">
      <nav class="breadcrumb-container">
        <% @breadcrumbs.each do |crumb, c_url| %>
          <h3 class="title-link left">
            <% if c_url == "" %>
              <%= crumb %>
            <% else %>
              <a href="<%= c_url %>"><%= crumb %></a> >
            <% end %>
          </h3>
        <% end %>
      </nav>

      <% if @results.length > 0 %>
        <em class="right">Showing 1 of <%= @results.length %></em>
      <% else %>
        <em class="right">No results</em>
      <% end %>
    </div>
    <div class="finer-filter-container group">
      <% if @finer_filters %>

        <%#= render "widgets/columns", columns: 6, data: Neighborhood.where(area_id: 1), base_url: search_url(category_id: @category.id), param_name: "neighborhood_id" %>
        <%= render "widgets/columns", columns: 6, data: @finer_filters, base_url: "/search?", param_name: @finer_filter_name, max_rows: 4 %>

        <div class="group">
          <h4 class="left">Browse Category:</h4><a href="#">PLACE HOLDER</a>
        </div>

        <select class="">
          <option value=1>Hide Filters</option>
        </select>

      <% end %>
    </div>

  </section>

  <form action="<%= search_url %>" method="get">
    <section class="column left">
      <h3 class="filter-title red-title">Sort By</h3>
      <ul>
        <li><a href="#">Best Match</a></li>
        <li><a href="#">Highest Rated</a></li>
        <li><a href="#">Most Reviewed</a></li>
      </ul>
      <a class="filter-more" href="#"></a>
    </section>

    <section class="column left">
      <h3 class="filter-title red-title">Neighborhoods</h3>
      <ul>
        <% Neighborhood.where(area_id: 1).limit(5).each do |n| %>
          <li>
            <input type="checkbox" id="neighbor_<%= n.id %>">
            <label for="neighbor_<%= n.id %>"><%= n.name %>
          </li>
        <% end %>
      </ul>
      <a class="filter-more" href="#">More Neighborhoods</a>
    </section>

    <section class="column left">
      <h3 class="filter-title red-title">Distance</h3>
      <ul>
        <li><a href="#">Bird's Eye View</a></li>
        <li><a href="#">Driving (5 mi.)</a></li>
        <li><a href="#">Biking (2 mi.)</a></li>
        <li><a href="#">Walking (1 mi.)</a></li>
        <li><a href="#">Within 4 blocks</a></li>
      </ul>
      <a class="filter-more" href="#"></a>
    </section>

    <section class="column left">
      <h3 class="filter-title red-title">Price</h3>
      <ul>
        <% PriceRange.all.each do |p| %>
          <li>
            <input type="checkbox" id="price_<%= p.id %>">
            <label for="neighbor_<%= p.id %>"><%= p.name %>
          </li>
        <% end %>
      </ul>

      <a class="filter-more" href="#"></a>
    </section>

    <section class="column left">
      <h3 class="filter-title red-title">Features</h3>
      <ul>
        <% Feature.limit(5).each do |f| %>
          <li>
            <input type="checkbox" id="feature_<%= f.id %>">
            <label for="neighbor_<%= f.id %>"><%= f.name %>
          </li>
        <% end %>
      </ul>
      <a class="filter-more" href="#">More Features</a>
    </section>

    <section class="column left">
      <h3 class="filter-title red-title">Category</h3>
      <ul>
        <% Category.limit(5).each do |f| %>
          <li>
            <input type="checkbox" id="category_<%= f.id %>">
            <label for="neighbor_<%= f.id %>"><%= f.name %>
          </li>
        <% end %>
      </ul>
      <a class="filter-more" href="#">More Categories</a>
    </section>
    <input type="submit" name="search" value="search" id="search">
  </form>
</nav>