<nav class="search-filters-container">
  <section class="filter-header group">
    <header class="result-header">
      <div class="search-string group">
        <h2><strong><%= "#{search.find_desc} " unless search.find_desc.blank? %></strong>
          <%= search.location %></h2>
        <% if search.paginated_results.length > 0 %>
          <em class="right"><%= page_entries_info search.paginated_results %></em>
        <% else %>
          <em class="right">No results</em>
        <% end %>
      </div>
    </header>

    <div class="group">
      <nav class="breadcrumb-container">
        <% search.breadcrumbs.each do |crumb, c_url| %>
          <h3 class="title-link left">
            <% if c_url == "" %>
              <%= crumb %>
            <% else %>
              <a href="<%= c_url %>"><%= crumb %></a> >
            <% end %>
          </h3>
        <% end %>
      </nav>
    </div>

    <div class="finer-filter-container group">
      <% if search.top_category_filter %>
        <%= render  "widgets/columns",
                    columns: 6,
                    data: search.top_category_filter,
                    url_proc: Proc.new { |val| search_url( search.link_params.merge(search.top_link_param => val) ) },
                    max_rows: 3 %>
      <% end %>

    </div>
  </section>

  <form id="form-fine-filters" action="<%= search_url %>" method="get" data-remote="true">
    <input type="hidden" name="find_desc" value="<%= search.find_desc %>">
    <input type="hidden" name="find_loc" value="<%= search.find_loc %>">
    <input type="hidden" name="search_type" value="<%= search.search_type %>">

    <% if search.main_category_id %>
      <input type="hidden" name="main_category_id" value="<%= search.main_category_id %>">
    <% end %>

    <section class="search-filter-container group">
      <section class="column left">
        <h3 class="filter-title red-title">Sort By</h3>

        <ul>
          <li>
            <input type="radio" name="search[sort]" id="search_sort" value="" <%= "checked" if search.sorted.blank? %>>
            <a href="#"><label for="search_sort">Best Match</label></a>
          </li>
          <li>
            <input type="radio" name="search[sort]" id="search_sort" value="rated" <%= "checked" if search.sorted == "rated" %>>
            <a href="#"><label for="search_sort">Highest Rated</label></a>
          </li>
          <li>
            <input type="radio" name="search[sort]" id="search_sort" value="reviewed" <%= "checked" if search.sorted == "reviewed" %>>
            <a href="#"><label for="search_sort">Most Reviewed</label></a>
          </li>
        </ul>
        <a class="filter-more" href="#"></a>
      </section>

      <%= render "widgets/filter_checkbox_set", name: "Neighborhoods",
                                                field_name: "neighborhood_id",
                                                data: search.neighborhoods,
                                                prefix: "n" %>
      <section class="column left">
        <h3 class="filter-title red-title">Distance</h3>
        <ul>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="0" <%= "checked" if search.is_distance?("0") %>>
            <label for="search_distance">Bird's Eye View</label>
          </li>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="5" <%= "checked" if search.is_distance?("5") %>>
            <label for="search_distance">Driving (5 mi.)</label>
          </li>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="2" <%= "checked" if search.is_distance?("2") %>>
            <label for="search_distance">Biking (2 mi.)</label>
          </li>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="1" <%= "checked" if search.is_distance?("1") %>>
            <label for="search_distance">Walking (1 mi.)</label>
          </li>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="0.3" <%= "checked" if search.is_distance?("0.3") %>>
            <label for="search_distance">Within 4 blocks</label>
          </li>
        </ul>
        <a class="filter-more" href="#"></a>
      </section>

      <%= render "widgets/filter_checkbox_set", name: "Price",
                                                field_name: "price_range",
                                                data: search.prices,
                                                prefix: "p",
                                                skip_button: true %>

      <%= render "widgets/filter_checkbox_set", name: "Features",
                                                field_name: "feature_id",
                                                data: search.features,
                                                prefix: "f" %>
      <% if search.category_id %>
        <input type="hidden" name="category_id" value="<%= search.category_id %>">
      <% else %>
      <%= render "widgets/filter_checkbox_set", name: "Categories",
                                                field_name: "category_id",
                                                data: search.categories,
                                                prefix: "c" %>
      <% end %>


    </section>

    <noscript>
      <div class="group">
        <button class="red-btn" type="submit">Search</button>
      </div>
    </noscript>
  </form>
</nav>

<%= render "widgets/popup",
          title: "More Categories",
          main_collection: Category.where(main_category_id: 1),
          field_name: "category_id",
          prefix: "categories" %>


<%= render "widgets/popup",
          title: "More Features",
          main_collection: FeatureCategory.includes(:features).all,
          sub_collection: :features,
          field_name: "feature_id",
          prefix: "features" %>

<%= render "widgets/popup",
          title: "More Neighborhoods",
          main_collection: Area.includes(:neighborhoods).where(city_id: 1).order(:id),
          sub_collection: :neighborhoods,
          field_name: "neighborhood_id",
          prefix: "neighborhoods" %>