<nav class="search-filters-container">
  <section class="filter-header group">
    <header class="result-header">
      <div class="search-string group">
        <h2><strong><%= "#{@find_desc} " unless @find_desc.blank? %></strong>
          <%= @find_loc.blank? ? City.find(1).name : City.find(@find_loc).name %></h2>
        <% if @results.length > 0 %>
          <em class="right"><%= page_entries_info @results %></em>
        <% else %>
          <em class="right">No results</em>
        <% end %>
      </div>
    </header>

    <div class="group">
      <nav class="breadcrumb-container">
        <% @breadcrumbs.each do |crumb, c_url| %>
          <h3 class="title-link left">
            <% if c_url == "" %>
              <%= crumb %>
            <% else %>
              <a href="<%= c_url %>"><%= crumb %></a> >
            <% end %>
          </h3>
        <% end %>
      </nav>
    </div>

    <div class="finer-filter-container group">
      <% if @top_category_filter %>
        <%= render  "widgets/columns",
                    columns: 6,
                    data: @top_category_filter,
                    url_proc: Proc.new { |val| search_url( @link_params.merge(@top_link_param => val) ) },
                    max_rows: 3 %>
      <% end %>

    </div>
  </section>

  <form id="form-fine-filters" action="<%= search_url %>" method="get" data-remote="true">
    <input type="hidden" name="find_desc" value="<%= @find_desc %>">
    <input type="hidden" name="find_loc" value="<%= @find_loc %>">
    <input type="hidden" name="search_type" value="<%= @search_type %>">

    <% if @main_category_id %>
      <input type="hidden" name="main_category_id" value="<%= @main_category_id %>">
    <% end %>

    <section class="search-filter-container group">
      <section class="column left">
        <h3 class="filter-title red-title">Sort By</h3>

        <ul>
          <li>
            <input type="radio" name="search[sort]" id="search_sort" value="" <%= "checked" if @search_params[:sort].blank? %>>
            <a href="#"><label for="search_sort">Best Match</label></a>
          </li>
          <li>
            <input type="radio" name="search[sort]" id="search_sort" value="rated" <%= "checked" if @search_params[:sort] == "rated" %>>
            <a href="#"><label for="search_sort">Highest Rated</label></a>
          </li>
          <li>
            <input type="radio" name="search[sort]" id="search_sort" value="reviewed" <%= "checked" if @search_params[:sort] == "reviewed" %>>
            <a href="#"><label for="search_sort">Most Reviewed</label></a>
          </li>
        </ul>
        <a class="filter-more" href="#"></a>
      </section>

      <%= render "widgets/filter_checkbox_set", name: "Neighborhoods",
                                                field_name: "neighborhood_id",
                                                data: @neighborhoods,
                                                prefix: "n" %>
      <section class="column left">
        <h3 class="filter-title red-title">Distance</h3>
        <ul>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="0" <%= "checked" if @search_params[:distance].nil? || @search_params[:distance] == "0" %>>
            <label for="search_distance">Bird's Eye View</label>
          </li>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="5" <%= "checked" if @search_params[:distance] == "5" %>>
            <label for="search_distance">Driving (5 mi.)</label>
          </li>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="2" <%= "checked" if @search_params[:distance] == "2" %>>
            <label for="search_distance">Biking (2 mi.)</label>
          </li>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="1" <%= "checked" if @search_params[:distance] == "1" %>>
            <label for="search_distance">Walking (1 mi.)</label>
          </li>
          <li>
            <input type="radio" name="search[distance]" id="search_distance" value="0.3" <%= "checked" if @search_params[:distance] == "0.3" %>>
            <label for="search_distance">Within 4 blocks</label>
          </li>
        </ul>
        <a class="filter-more" href="#"></a>
      </section>

      <%= render "widgets/filter_checkbox_set", name: "Price",
                                                field_name: "price_range",
                                                data: @prices,
                                                prefix: "p",
                                                skip_button: true %>

      <%= render "widgets/filter_checkbox_set", name: "Features",
                                                field_name: "feature_id",
                                                data: @features,
                                                prefix: "f" %>
      <% if @category_id %>
        <input type="hidden" name="category_id" value="<%= @category_id %>">
      <% else %>
      <%= render "widgets/filter_checkbox_set", name: "Categories",
                                                field_name: "category_id",
                                                data: @categories,
                                                prefix: "c" %>
      <% end %>


    </section>

    <noscript>
      <div class="group">
        <button class="red-btn" type="submit">Search</button>
      </div>
    </noscript>
  </form>
</nav>

<%= render "widgets/popup",
          title: "More Categories",
          main_collection: Category.where(main_category_id: 1),
          field_name: "category_id",
          prefix: "categories" %>


<%= render "widgets/popup",
          title: "More Features",
          main_collection: FeatureCategory.includes(:features).all,
          sub_collection: :features,
          field_name: "feature_id",
          prefix: "features" %>

<%= render "widgets/popup",
          title: "More Neighborhoods",
          main_collection: Area.includes(:neighborhoods).where(city_id: 1).order(:id),
          sub_collection: :neighborhoods,
          field_name: "neighborhood_id",
          prefix: "neighborhoods" %>