<nav class="search-filters-container">
  <section class="filter-header group">
    <div class="group">
      <nav class="breadcrumb-container">
        <% @breadcrumbs.each do |crumb, c_url| %>
          <h3 class="title-link left">
            <% if c_url == "" %>
              <%= crumb %>
            <% else %>
              <a href="<%= c_url %>"><%= crumb %></a> >
            <% end %>
          </h3>
        <% end %>
      </nav>

      <% if @results.length > 0 %>
        <em class="right">Showing 1 of <%= @results.length %></em>
      <% else %>
        <em class="right">No results</em>
      <% end %>
    </div>
    <div class="finer-filter-container group">
      <% if @finer_filters %>

        <%#= render "widgets/columns", columns: 6, data: Neighborhood.where(area_id: 1), base_url: search_url(category_id: @category.id), param_name: "neighborhood_id" %>
        <%= render "widgets/columns", columns: 6, data: @finer_filters, base_url: "/search?", param_name: @finer_filter_name, max_rows: 4 %>



      <% end %>

      <div class="group">
        <h4 class="left">Browse Category:</h4><a href="#">PLACE HOLDER</a>
      </div>

      <select class="">
        <option value=1>Hide Filters</option>
      </select>
    </div>

  </section>

  <form action="<%= search_url %>" method="get">
    <section class="column left">
      <h3 class="filter-title red-title">Sort By</h3>
      <ul>
        <li>
          <input type="radio" name="search[sort]" id="search_sort" value="">
          <label for="search_sort">Best Match</label>
        </li>
        <li>
          <input type="radio" name="search[sort]" id="search_sort" value="rated">
          <label for="search_sort">Highest Rated</label>
        </li>
        <li>
          <input type="radio" name="search[sort]" id="search_sort" value="reviewed">
          <label for="search_sort">Most Reviewed</label>
        </li>
      </ul>
      <a class="filter-more" href="#"></a>
    </section>

    <section class="column left">
      <h3 class="filter-title red-title">Neighborhoods</h3>
      <ul>
        <% Neighborhood.where(area_id: 1).limit(5).each do |n| %>
          <li>
            <input type="checkbox" id="n_<%= n.id %>" name="search[neighborhood_id][]" value="<%= n.id %>">
            <label for="n_<%= n.id %>"><%= n.name %>
          </li>
        <% end %>
      </ul>
      <a class="filter-more" href="#">More Neighborhoods</a>
    </section>

    <section class="column left">
      <h3 class="filter-title red-title">Distance</h3>
      <ul>
        <li>
          <input type="radio" name="search[distance]" id="search_distance" value="1">
          <label for="search_distance">Bird's Eye View</label>
        </li>
        <li>
          <input type="radio" name="search[distance]" id="search_distance" value="1">
          <label for="search_distance">Driving (5 mi.)</label>
        </li>
        <li>
          <input type="radio" name="search[distance]" id="search_distance" value="1">
          <label for="search_distance">Biking (2 mi.)</label>
        </li>
        <li>
          <input type="radio" name="search[distance]" id="search_distance" value="1">
          <label for="search_distance">Walking (1 mi.)</label>
        </li>
        <li>
          <input type="radio" name="search[distance]" id="search_distance" value="1">
          <label for="search_distance">Within 4 blocks</label>
        </li>
      </ul>
      <a class="filter-more" href="#"></a>
    </section>

    <section class="column left">
      <h3 class="filter-title red-title">Price</h3>
      <ul>
        <% PriceRange.all.each do |p| %>
          <li>
            <input type="checkbox" id="p_<%= p.id %>" name="search[price_range][]" value="<%= p.id %>">
            <label for="p_<%= p.id %>"><%= p.name %>
          </li>
        <% end %>
      </ul>

      <a class="filter-more" href="#"></a>
    </section>

    <section class="column left">
      <h3 class="filter-title red-title">Features</h3>
      <ul>
        <% Feature.limit(5).each do |f| %>
          <li>
            <input type="checkbox" id="f_<%= f.id %>" name="search[feature_id][]" value="<%= f.id %>">
            <label for="n_<%= f.id %>"><%= f.name %>
          </li>
        <% end %>
      </ul>
      <a class="filter-more" href="#">More Features</a>
    </section>

    <section class="column left">
      <h3 class="filter-title red-title">Category</h3>
      <ul>
        <% Category.limit(5).each do |c| %>
          <li>
            <input type="checkbox" id="c_<%= c.id %>" name="search[category_id][]" value="<%= c.id %>">
            <label for="c_<%= c.id %>"><%= c.name %>
          </li>
        <% end %>
      </ul>
      <a class="filter-more" href="#">More Categories</a>
    </section>
    <input type="submit" name="Submit">
  </form>
</nav>