<script src="http://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API_KEY"] %>&sensor=false">
</script>
<div class="group">
  <%= render "searches/filters" %>
</div>

<section class="group">
  <section class="main-side left">
    <ul class="business-results">
      <% if @results.length > 0 %>
        <% @results.each do |result| %>
          <li><%= render "businesses/search_result", business: result %></li>
        <% end %>
      <% else %>
        <section class="new-business-container">
          <div>
            <h3 class="red-title">Not here? Tell us what we're missing.</h3>
            <p>If the business you're looking for isn't here, add it!</p>
            <div class="new-btn-container">
              <a href="<%= new_business_url %>">
                <button class="red-btn">Add a Business</button>
              </a>
            </div>
            <!-- <p>Got search feedback?<a href="#">Help us improve</a></p> -->
          </div>
        </section>
      <% end %>
    </ul>
    <nav class="pagination-container group">
      <div class="left">Page 1 of #</div>
      <div class="right">
        <ul>
        <% 10.times do |p| %>
          <li class="left"><a href="#"> <%= p %> </a></li>
        <% end %>
      </ul>
      </div>
    </nav>
  </section>

  <section class="sidebar-map right">
    <div>
      <div id="googleMap" style="width:300px;height:300px;"></div>
    </div>
  </section>
</section>

<section class="related-content-container group">
  <section class="related-content left">
    <h3>Related Talk Topics</h3>
    <a href="#">More Topics</a>
  </section>

  <section class="related-content left">
    <h3>Related Lists</h3>
    <a href="#">More Lists</a>

  </section>

  <% if @results.length > 0 %>
  <section class="new-business-container right">
    <div>
      <h3 class="red-title">Not here? Tell us what we're missing.</h3>
      <p>If the business you're looking for isn't here, add it!</p>
      <div class="new-btn-container">
        <a href="<%= new_business_url %>">
          <button class="red-btn">Add a Business</button>
        </a>
      </div>
      <!-- <p>Got search feedback?<a href="#">Help us improve</a></p> -->
    </div>
  </section>
  <% end %>
</section>


<%= render "scripts/map", results: @results %>