
<section class="main-content group">

  <%= render "layouts/errors" %>

<div class="group">
  <%= render "searches/filters" %>
</div>

<section class="group">
  <section class="main-side left">
    <ul class="business-results">
      <% if @results.length > 0 %>

        <% @results.each do |result| %>
          <li><%= render "businesses/search_result", business: result %></li>
        <% end %>
      <% else %>
        <section class="new-business-container">
          <div>
            <h3 class="red-title">Not here? Tell us what we're missing.</h3>
            <p>If the business you're looking for isn't here, add it!</p>
            <div class="new-btn-container">
              <a href="<%= new_business_url %>">
                <button class="red-btn">Add a Business</button>
              </a>
            </div>
            <!-- <p>Got search feedback?<a href="#">Help us improve</a></p> -->
          </div>
        </section>
      <% end %>
    </ul>
    <nav class="pagination-container group">
      <%= paginate @results %>
    </nav>
  </section>

  <section class="sidebar-map right">
    <div>
      <div id="googleMap" style="width:300px;height:300px;"></div>
    </div>
  </section>
</section>

<section class="related-content-container group">
  <section class="related-content left">
    <h3>Related Talk Topics</h3>
    <a href="#">More Topics</a>
  </section>

  <section class="related-content left">
    <h3>Related Lists</h3>
    <a href="#">More Lists</a>

  </section>

  <% if @results.length > 0 %>
  <section class="new-business-container right">
    <div>
      <h3 class="red-title">Not here? Tell us what we're missing.</h3>
      <p>If the business you're looking for isn't here, add it!</p>
      <div class="new-btn-container">
        <a href="<%= new_business_url %>">
          <button class="red-btn">Add a Business</button>
        </a>
      </div>
      <!-- <p>Got search feedback?<a href="#">Help us improve</a></p> -->
    </div>
  </section>
  <% end %>
</section>


<%= render "scripts/map", results: @results %>
<script src="http://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API_KEY"] %>&sensor=false"></script>

</section>

<script>
  $(function() {
    var $newBiz = $(".new-business-container").clone();

    $("#form-fine-filters").change( function(event) {
      console.log(document.getElementById("form-fine-filters"))


      // document.getElementById("form-fine-filters").submit();
      $(this).submit();
    });

    $("#form-fine-filters").on("ajax:success", function(event, data) {
      console.log("SUCCESS",data)

      if (data.length > 0) {
        $(".business-results").empty();

        for (var i=0; i < data.length; i++) {
          var $review = makeReviewElement(data[i], "large", "", "");
          console.log("R",$review)
          $(".business-results").append($review);
        }
      } else {
        $(".business-results").append($newBiz.clone());
      }
    });
  });
</script>