<h4>Add a picture for <strong><%= @business.name %></strong></h4>


<form action="<%= photos_url(business_id: @business.id) %>" method="post" enctype="multipart/form-data">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <% if @business %>
    <input type="hidden" name="photo[business_id]" value="<%= @business.id %>">
  <% end %>

  <label for="photo_file"></label>
  <input type="file" name="photo[file]" value="<%= @photo.file %>" id="">

  <label for="photo_caption">Caption:</label>
  <textarea name="photo[caption]" id="photo_caption"><%= @photo.caption %></textarea>


  <input type="submit" name="submit" value="Add Photo" id="submit">

</form>