<fieldset>
  <h3><%= title %></h3>
  <% data.each_with_index do |d,i| %>
    <% name = "#{prefix}[#{d.id}]" %>
    <% name << "[#{nested_name}]" if nested_name %>
    <% id_name = "#{prefix}_#{d.id}" %>
    <% selected = if selected_data[d.id].nil? %>
        <% -1 %>
      <% elsif selected_data[d.id] %>
        <% 1 %>
      <% else %>
        <% 0 %>
      <% end %>
      <%= d.id %>(1)=<%= selected %>
    <input  type="checkbox"
            name="<%= name %>"
            value="1"
            id="<%= id_name %>_<%= d.name %>"
            <%= "checked" if selected == 1 %>>
    <label for="<%= id_name %>_<%= d.name %>"><%= d.name %></label>
  <% end %>
</fieldset>


