<fieldset>
  <h3><%= title %></h3>
  <% if name.nil? %>
    <% name = "#{prefix}[#{attr_name}]" %>
    <% name << "[#{nested_name}]" if nested_name %>
  <% end %>
  <% id_name = "#{prefix}_#{attr_name}" %>

  <% data.each do |d| %>
    <input type="radio" name="<%= name %>" id="<%= id_name %>_<%= d.name %>" value="<%= d.id %>" <%= "checked" if d.id == selected %>>
    <label for="<%= id_name %>_<%= d.name %>"><%= d.name %></label>
  <% end %>

  <input type="radio" name="<%= name %>" id="<%= id_name %>_nil" value="">
  <label for="<%= id_name %>_nil">Not Sure</label>

</fieldset>