<div class="form-unit">

  <label  class="title"
          for="<%= prefix %>_<%= attr_name %>"><%= title %></label>
  <h4 class="sub-heading"><%= subTitle %><h4>
  <input  type="text"
          name="<%= prefix %>[<%= attr_name %>]"
          value="<%= value %>"
          id="<%= prefix %>_<%= attr_name %>">
</div>