
<section class="main-content">

  <%= render "layouts/errors" %>
<h1 class="red-title">Best <%= @category.name %> in New York</h1>

<section class="category-mosaic group">
  <% sizes = [[500,300], [140,300], [300,140], [140,140], [140,140]] %>

  <div class="mosaic-photo group">
    <% best_biz = @category.best_businesses(5) %>
    <a href="<%= business_url(best_biz[0].id) %>"><div class="mosaic-1"><img height="500" src="<%= best_biz[0].avatar %>"></div></a>
    <a href="<%= business_url(best_biz[1].id) %>"><div class="mosaic-2"><img height="300" src="<%= best_biz[1].avatar %>"></div></a>
    <a href="<%= business_url(best_biz[2].id) %>"><div class="mosaic-3"><img width="300" src="<%= best_biz[2].avatar %>"></div></a>
    <a href="<%= business_url(best_biz[3].id) %>"><div class="mosaic-4"><img height="140" src="<%= best_biz[3].avatar %>"></div></a>
    <a href="<%= business_url(best_biz[4].id) %>"><div class="mosaic-4"><img height="140" src="<%= best_biz[4].avatar %>"></div></a>
  </div>

  <a href="<%= search_url(category_id: @category.id) %>">More <%= @category.name %></a>
</section>

<section class="category-search-filters group">
  <div class="side-neighborhoods left">
    <h1 class="filter-title red-title">Neighborhoods</h1>

    <%= render "widgets/columns", columns: 2,
                                  data: Neighborhood.where(area_id: 1),
                                  max_rows: 8,
                                  base_url: "#{search_url(category_id: @category.id)}&",
                                  param_name: "neighborhood_id" %>
  </div>

  <div class="side-features left">
    <div class="filter-prices group">
      <h1 class="filter-title red-title">Prices</h1>
      <%= render "widgets/columns", columns: 2, data: PriceRange.all, base_url: "#{search_url}", param_name: "" %>
    </div>

    <div class="filter-features">
      <h1 class="filter-title red-title">Features</h1>
      <%= render "widgets/columns", columns: 2, data: Feature.all, max_rows: 4, base_url: "#{search_url}", param_name: ""  %>
    </div>

  </div>

</section>

<section class="group">
  <section class="category-reviews left">
    <h1 class="filter-title red-title">Fresh <%= @category.name %> Reviews</h1>

    <% reviews = @category.new_reviews(4) %>
    <ul class="review-block left">
    <% reviews[0...2].each do |review| %>
      <li class="group"><%= render "reviews/quick", review: review , title: "?????", body: review.body %></li>
    <% end %>
    </ul>
    <ul class="review-block left">
    <% reviews[2...4].each do |review| %>
      <li class="group"><%= render "reviews/quick", review: review , title: "?????", body: review.body %></li>
    <% end %>
    </ul>
  </section>

  <section class="category-photos left">
    <h1 class="filter-title red-title">Recent Photos</h1>

    <ul class="photo-block group">
    <% @category.new_photos(8).each do |photo| %>
      <li class="photo-icons left"><a href="<%= business_photos_url(photo.business_id, photo: photo) %>"><img width="100" src="<%= photo.url %>"></a></li>
    <% end %>
    </ul>

  </section>
</section>

<section class="category-new-business group">
  <h1 class="filter-title red-title">New <%= @category.name %> in NEW YORK</h1>


  <ul class="new-business-block group">
  <% @category.new_businesses(5).each do |biz| %>
    <li class="biz-storefronts left">
      <%= render "photos/with_lower3_biz",  icon_url: business_url(biz.id),
                                            width: 180,
                                            business: biz,
                                            photo: biz.avatar
                                      %>
    </li>
  <% end %>
  </ul>
  <div>
    <!-- <a href="#">More New Business Openings</a> -->
  </div>
</section>
</section>