
<section class="main-content">

  <%= render "layouts/errors" %>
<h1 class="red-title">Best <%= @category.name %> in New York</h1>

<section class="category-mosaic group">
  <% sizes = ['width=500', 'height=300', 'width=300', 'height=140', 'height=140'] %>

  <div class="mosaic-photo group">
    <% best_biz = @category.top_five_businesses %>
    <% best_biz.each_with_index do |biz, i| %>
      <a href="<%= business_url(best_biz[i].id) %>">
        <div class="mosaic-<%= i+1 %>">
          <img <%= sizes[i] %> src="<%= best_biz[i].avatar %>">
        </div>
      </a>
    <% end %>
  </div>

  <a class="med-title" href="<%= search_url(category_id: [@category.id]) %>">More <%= @category.name %></a>
</section>

<section class="category-search-filters group">
  <div class="side-neighborhoods left">
    <h1 class="filter-title red-title">Neighborhoods</h1>

    <%= render "widgets/columns", columns: 2,
                                  data: Neighborhood.where(area_id: 1),
                                  max_rows: 8,
                                  url_proc: Proc.new { |val| search_url( category_id: @category.id, search: {neighborhood_id: [val] } ) },
                                  base_url: "#{search_url(category_id: @category.id)}&",
                                  param_name: "search[neighborhood_id][]" %>
  </div>

  <div class="side-features left">
    <div class="filter-prices group">
      <h1 class="filter-title red-title">Prices</h1>
      <%= render "widgets/columns", columns: 2,
                                    data: PriceRange.all,
                                    url_proc: Proc.new { |val| search_url( category_id: @category.id, search: {price_range: [val] } ) },
                                    param_name: "search[price_range][]" %>
    </div>
    <!-- "search"=>{"sort"=>"", "neighborhood_id"=>["4"]} -->
    <div class="filter-features">
      <h1 class="filter-title red-title">Features</h1>
      <%= render "widgets/columns",   columns: 2,
                                      data: Feature.all,
                                      max_rows: 4,
                                      url_proc: Proc.new { |val| search_url( category_id: @category.id, search: {feature_id: [val] } ) },
                                      param_name: "search[feature_id][]"  %>
    </div>

  </div>

</section>

<section class="group">
  <section class="category-reviews left">
    <h1 class="filter-title red-title">Fresh <%= @category.name %> Reviews</h1>

    <% reviews = @category.new_reviews(4) %>

    <ul class="review-block left">
    <% 4.times do |index| %>
      <li class="group">
      <% if reviews[index] %>
        <%= render "reviews/quick", review: reviews[index] , title: "?????", body: reviews[index].body %>
      <% else %>
        <%= render "reviews/write_review" %>
      <% end %>
      </li>
      <%= "</ul><ul class=\"review-block left\">".html_safe if index == 1 %>
    <% end %>
    </ul>
  </section>

  <section class="category-photos left">
    <h1 class="filter-title red-title">Recent Photos</h1>

    <ul class="photo-block group">
    <% @category.new_photos(8).each do |photo| %>
      <li class="photo-icons left"><a href="<%= business_photos_url(photo.business_id, photo: photo) %>"><img width="100" src="<%= photo.url(:icon_m) %>"></a></li>
    <% end %>
    </ul>

  </section>
</section>

<section class="category-new-business group">
  <h1 class="filter-title red-title">New <%= @category.name %> in NEW YORK</h1>


  <ul class="new-business-block group">
  <% @category.new_businesses(5).each do |biz| %>
    <li class="biz-storefronts left">
      <%= render "photos/with_lower3_biz",  icon_url: business_url(biz.id),
                                            width: 180,
                                            business: biz,
                                            photo: biz.avatar
                                      %>
    </li>
  <% end %>
  </ul>
  <div>
    <!-- <a href="#">More New Business Openings</a> -->
  </div>
</section>
</section>