


<section class="business-review-container group">
  <div class="review-user-side left">
    <%= render "users/avatar_large", user: review.user %>

    <div class="user-interact-container">
      <ul class="group">
      <% if review.user != current_user %>
          <li><a href="#">Share Review</a></li>
          <li><button class="btn-link" onclick='showPopup("popup-form", <%= review.id %>)'>Compliment</button></li>
          <li><a href="#">Send Message</a></li>
          <li><a href="#">Follow <%= review.user.name %></a></li>
      <% else %>
        <li><a href="<%= edit_review_url(review.id) %>">Edit</a></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="business-review-side left">
    <div class="rating-header group">
      <%= render "widgets/rating", s_rating: review.rating_string, size: "large" %>
      <span><%= review.created_at.strftime("%m/%d/%Y") %></span>
    </div>

    <div class="business-review-body">
      <p><%= review.body %></p>
    </div>

    <div class="business-photos-container group">
      <% review.photos.each do |photo| %>
        <a href="<%= business_photos_url(photo.business_id, photo_id: photo.id) %>"><img src="<%= photo.url %>"></a>
      <% end %>
    </div>

    <%= render "widgets/review_upvote", review: review %>
  </div>
</section>

