

<h3 class="business-name large-title"><%= business.name %></h3>

  <form id="new-review-form" class="group" action="<%= url %>" method="post" enctype="multipart/form-data">

    <input type="hidden" name="_method" value="<%= method %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="hidden" name="review[business_id]" value="<%= business.id %>">

    <%= render "forms/quick_review", review: review, photo: photo %>



    <hr>


    <h3 class="red-title">Have additional tips on this business? <em>(Optional)</em><h3>
    <h3>We're surveying Yelpers for more handy information on this business. If the majority says it's so, then that's what we'll show.</h3>

    <!-- <fieldset>
      <%= render "forms/photo_helpful" %>
      <%= render "forms/photo_helpful" %>
      <%= render "forms/photo_helpful" %>
    </fieldset> -->

    <% fc_count = 0 %>

    <% bool_choice = FeatureCategory.basic_choice %>
    <% FeatureCategory.first.features.each do |feature| %>
      <%= render "forms/radio_group", {
        name: nil,
        title: feature.name,
        prefix: "feature_ids",
        attr_name: feature.id,
        nested_name: nil,
        data: bool_choice,
        select_name: feature.id,
        selected_data: business_features,
        use_custom: false
      } %>
      <% fc_count += 1 %>
    <% end %>
    <% fc_count += 1 %>
    <% FeatureCategory.all.each do |feature_category| %>
      <% next if feature_category.id == 1 %>
      <% p_form = feature_category.input_type == 1 ? "forms/radio_group" : "forms/checkbox_group" %>
      <% p_name = feature_category.input_type == 1 ? feature_category.features.select { |f| business_features[f.id] }[0] : nil %>
      <% p_name = p_name.id if p_name %>
      <% p_custom = feature_category.input_type == 1 ? true : false%>

      <%= render p_form, {
        name: nil,
        title: feature_category.name,
        prefix: "feature_ids",
        attr_name: feature_category.name,
        nested_name: nil,
        data: feature_category.features,
        select_name: p_name,
        selected_data: business_features,
        use_custom: p_custom
      } %>

      <% if feature_category.input_type == 2 %>
        <% fc_count += feature_category.features.length %>
      <% else %>
        <% fc_count += 1 %>
      <% end %>

    <% end %>

    <button id="Review" type="submit" class="red-btn left">Post Review</button>

</form>

<ul class="submitting group">
<% if method == "put" %>
  <li class="left"><%= button_to "Delete", review_url(@review.id), method: :delete, class: "gray-btn" %></li>
<% end %>

<li><a class="cancel-btn med-title left" href="<%= business_url(@business.id) %>">Cancel</a></li>
</ul>