

<h3 class="business-name large-title"><%= business.name %></h3>

  <form action="<%= url %>" method="post" enctype="multipart/form-data">

    <input type="hidden" name="_method" value="<%= method %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="hidden" name="review[business_id]" value="<%= business.id %>">

    <fieldset class="review-set group">
      <div class="review-area left">

        <%= render "widgets/choose_rating", rating: review.rating || 0 %>

        <div class="form-text-input">
          <label class="med-title" for="review_body">Your review</label>
          <textarea name="review[body]" id="review_body"rows="8" cols="50"><%= review.body %></textarea>
        </div>
      </div>
      <div class="photo-area left">
        <label class="med-title" for="photo_file">Add Photo</label>
        <input type="file" name="photo[file]">

        <div class="caption-area">
          <label class="med-title" for="photo_caption">Caption:</label>
          <textarea cols="50" rows="3" name="photo[caption]" id="photo_caption"><%#= @photo.caption %></textarea>
        </div>
      </div>
    </fieldset>



    <hr>


    <h3 class="red-title">Have additional tips on this business? <em>(Optional)</em><h3>
    <h3>We're surveying Yelpers for more handy information on this business. If the majority says it's so, then that's what we'll show.</h3>

    <!-- <fieldset>
      <%= render "forms/photo_helpful" %>
      <%= render "forms/photo_helpful" %>
      <%= render "forms/photo_helpful" %>
    </fieldset> -->

    <% fc_count = 0 %>

    <% bool_choice = FeatureCategory.basic_choice %>
    <% FeatureCategory.first.features.each do |feature| %>
      <%= render "forms/radio_group", {
        name: nil,
        title: feature.name,
        prefix: "feature_ids",
        attr_name: feature.id,
        nested_name: nil,
        data: bool_choice,
        select_name: feature.id,
        selected_data: business_features,
        use_custom: false
      } %>
      <% fc_count += 1 %>
    <% end %>
    <% fc_count += 1 %>
    <% FeatureCategory.all.each do |feature_category| %>
      <% next if feature_category.id == 1 %>
      <% p_form = feature_category.input_type == 1 ? "forms/radio_group" : "forms/checkbox_group" %>
      <% p_name = feature_category.input_type == 1 ? feature_category.features.select { |f| business_features[f.id] }[0] : nil %>
      <% p_name = p_name.id if p_name %>


      <%= render p_form, {
        name: nil,
        title: feature_category.name,
        prefix: "feature_ids",
        attr_name: feature_category.name,
        nested_name: nil,
        data: feature_category.features,
        select_name: p_name,
        selected_data: business_features,
        use_custom: false
      } %>

      <% if feature_category.input_type == 2 %>
        <% fc_count += feature_category.features.length%>
      <% else %>
        <% fc_count += 1 %>
      <% end %>

    <% end %>

    <button id="Review" type="submit" class="red-btn left">Post Review</button>

    <% if method == "put" %>
      <a href="<%= business_url(@business.id) %>">Cancel</a>
      <%= button_to "Delete", review_url(@review.id), method: :delete, class: "gray-btn" %>
    <% else %>
      <a class="cancel-btn med-title" href="<%= business_url(@business.id) %>">Cancel</a>
    <% end %>

    <!-- <h5>* You can always edit or remove reviews later.</h5> -->
</form>

