<section class="medium-review-container group">
  <div class="review-user-side">
    <%= render "users/medium", user: review.user %>

    <div>
      <ul>
        <li><a href="#">Share Review</a></li>
        <li><a href="#">Compliment</a></li>
        <li><a href="#">Send Message</a></li>
        <li><a href="#">Follow <%= review.user.name %></a></li>
      </ul>
    </div>

  </div>
  <div class="review-review-side">
    <div class="rating-header group">
      <%= render "widgets/rating", rating: review.rating %>
      <em><%= review.created_at.strftime("%m/%d/%Y") %></em>
    </div>

    <div>
      <p><%= review.body %></p>
    </div>

    <div class="review-photos-container group">
      <% review.photos.each do |photo| %>
        <a href="<%= business_photos_url(photo.business_id, photo_id: photo.id) %>"><img src="<%= photo.img_url %>"></a>
      <% end %>
    </div>

    <div class="review-upvote-container">
      <div class="upvote-question"><em>Was this review ...?</em></div>
      <button>Useful</button>
      <button>Funny</button>
      <button>Cool</button>
      <% if review.user_id == current_user.id %>
        <a href="<%= edit_review_url(review.id) %>">edit</a>
      <% end %>
    </div>
  </div>
</section>