


<section class="medium-review-container group">
  <div class="review-user-side left">
    <%= render "users/avatar", user: review.user %>

    <div class="user-interact-container">
      <ul class="group">
        <li><a href="#">Share Review</a></li>
        <li><button class="btn-link" onclick='showPopup("popup-form", <%= review.id %>)'>Compliment</button></li>
        <li><a href="#">Send Message</a></li>
        <li><a href="#">Follow <%= review.user.name %></a></li>
      </ul>
    </div>
  </div>

  <div class="review-review-side left">
    <div class="rating-header group">
      <%= render "widgets/rating", rating: review.rating %>
      <em><%= review.created_at.strftime("%m/%d/%Y") %></em>
    </div>

    <div class="review-body">
      <p><%= review.body %></p>
    </div>

    <div class="review-photos-container group">
      <% review.photos.each do |photo| %>
        <a href="<%= business_photos_url(photo.business_id, photo_id: photo.id) %>"><img src="<%= photo.url %>"></a>
      <% end %>
    </div>

    <%= render "widgets/review_upvote", review: review %>
  </div>
</section>

