<section class="medium-review-container group">
  <section class="biz-info-header group">
    <div class="biz-info-side">
      <% business = review.business %>
      <div class="biz-title"><a href="<%= business_url(business.id) %>"><%= business.name %></a></div>
      <div>Categories:
        <% business.categories.each do |category| %>
          <a href="category_url(<%= category.id %>)"><%= category.name %></a>
        <% end %>
      </div>
      <div>Neighborhood: <%= business.neighborhood.name %></div>
    </div>

    <div class="biz-address-side">
      <address>
        <p><%= business.address1 %></p>
        <p><%= business.address2 %></p>
        <p><%= business.city %>, <%= business.state %> <%= business.zip_code %></p>
        <p><%= business.phone_number %></p>
      </address>
    </div>
  </section>



  <div class="review-review-side">
    <div class="rating-header group">
      <%= render "widgets/rating", rating: review.rating %>
      <p><%= review.created_at.strftime("%m/%d/%Y") %></p>

      <ul class="review-extras">
        <% if business.photos.length > 0 %>
          <li><a class="left" href="<%= business_photos_url(business.id) %>"><%= business.photos.length %> photos</a></li>
        <% end %>
        <li>
      </ul>
    </div>

    <div class="business-review-body group">
      <p><%= review.body %></p>
    </div>

    <div class="business-photos-container group">
      <% review.photos.each do |photo| %>
        <a href="<%= business_photos_url(photo.business_id, photo_id: photo.id) %>"><img src="<%= photo.url %>"></a>
      <% end %>
    </div>

    <div class="review-interest group">
      <%= render "widgets/review_upvote", review: review  %>
      
      <% if review.user == current_user %>
        <a href="<%= edit_review_url(review.id) %>">Edit</a>
      <% else %>
          <ul>
            <li><%= render "bookmarks/form", business_id: review.business_id %></li>
            <li><a class="ponter" onclick='showPopup("#compliment-popup", <%= review.id %>)'>Send Compliment</a></li>
            <li><a href="#">Send to a Friend</a></li>
            <li><a href="#">Link to Review</a></li>
            <li><a href="#">Flag</a></li>
          </ul>
      <% end %>
    </div>

  </div>
</section>