<section class="medium-review-container group">
  <section class="biz-info-header">
    <div class="biz-info-side">
      <% business = review.business %>
      <div class="biz-title"><a href="<%= business_url(business.id) %>"><%= business.name %></a></div>
      <div>Categories:
        <% business.category_list.each do |category| %>
          <a href="#"><%= category %></a>
        <% end %>
      </div>
      <div>Neighborhood: <%= business.neighborhood %>
    </div>

    <div class="biz-address-side">
      <%= business.address1 %>
      <%= business.address2 %>
      <%= business.phone_number %>
    </div>
  </section>



  <div class="review-review-side">
    <div class="rating-header group">
      <%= render "widgets/rating", rating: review.rating %>
      <em><%= review.created_at.strftime("%m/%d/%Y") %></em>
    </div>

    <div>
      <p><%= review.body %></p>
    </div>

    <div class="review-upvote-container">
      <div class="upvote-question"><em>Was this review ...?</em></div>
      <button>Useful</button>
      <button>Funny</button>
      <button>Cool</button>
    </div>

    <div class="review-interest group">
      <ul>
        <li><a href="#">Bookmark</a></li>
        <li><a href="#">Send Compliment</a></li>
        <li><a href="#">Send to a Friend</a></li>
        <li><a href="#">Link to Review</a></li>
        <li><a href="#">Flag</a></li>
      </ul>
    </div>

  </div>
</section>