
<div>


  <section id="category-popup" class="popup-form popup-hide">

    <div class="back-overlay"></div>
    <form class="popup-form-container" action="<%= url %>" data-remote="true" method="post">
      <header class="popup-title">
        <h3 class="red-title">More Categories</h3>
      </header>

      <fieldset class="choices-container group">
        <% Category.where(main_category_id: main_category_id).each do |c| %>
          <div class="choice left">
            <input  class="left"
                    type="checkbox"
                    name="search[category_id][]"
                    value="<%= c.id %>"
                    id="category_<%= c.name %>">
            <label for="category_<%= c.name %>"><%= c.name %></label>
          </div>
        <% end %>
      </fieldset>

      <footer class="popup-footer group">
        <button class="red-btn left" onclick="submitPopupSearch('#category-popup', '#category-selections')" type="button">Search</button>
        <div class="right"><a onclick="closePopup()">Cancel</a></div>
      </footer>
    </form>
  </section>
</div>