<header class="top-header-wrapper group">
  <div class="top-header group">
    <a href="<%= root_url %>" class="header-logo left"></a>



    <section class="search-nav">
      <form class="form-top-search left" action="<%= search_url %>" method="get">
        <div class="nav-find">
          <label for="find_desc">Find</label>
          <input type="text" name="find_desc" value="<%= @find_desc %>" id="find">
        </div>

        <div class="nav-near">
          <label for="near">Near</label>
          <select id="near" name="find_loc">
            <% City.preloaded.each do |c| %>
              <option value="<%= c.id %>" <%= "checked" if c.id == @find_loc %>><%= c.name %></option>
            <% end %>
          </select>
        </div>

        <button class="nav-search" type="submit">?</button>
      </form>

        <% if signed_in? %>

        <div id="header-account-box" class="right">
            <a href="<%= profile_url %>"><img src="<%= current_user.avatar %>" height="40"></a>

            <div class="darkred-box">
              <img class="droparrow left" src="/assets/real/sort_arrow_down.gif">
            </div>

            <div class="sign-in-container">
              <ul class="sign-in-actions isHidden">
                <li><a href="<%= user_url(current_user.id) %>">About Me</a></li>
                <li><a href="<%= edit_profile_url %>">Profile Settings</a></li>
                <li>
                  <form action="<%= session_url %>" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">Log Out</button>
                  </form>
                </li>
              </ul>
            </div>
        </div>
        <% else %>
          <!-- <button class="auth-button">log in</button>
          <button class="auth-button">sign up</button> -->

          <div id="header-login-box"class="right">
            <a href="<%= new_session_url %>" class="small-red left">Log In</a>
            <a href="<%= new_user_url %>" class="small-red left">Sign Up</a>

          </div>
        <% end %>

    </section>

      <div class="nav-links">
        <ul class="group">
          <li><a href="<%= root_url %>">Home</a></li>
          <li><a href="<%= current_user ? user_url(current_user.id) : new_user_url %>">About Me</a></li>
          <!-- <li><a href="#">Write a Review</a></li>
          <li><a href="#" class="inactive-link">Find Friends</a></li>
          <li><a href="#" class="inactive-link">Messages</a></li>
          <li><a href="#" class="inactive-link">Talk</a></li>
          <li><a href="#" class="inactive-link">Events</a></li> -->
        </ul>
      </div>
  </div>

</header>

<script>
  $(document).ready( function() {
    $("#header-account-box .darkred-box").click( function(event) {
      event.stopPropagation();
      $(".sign-in-actions").removeClass("isHidden");
    });

    $(document).click( function(event) {
      if (event.target != $(".sign-in-actions") && $(".sign-in-actions").is(":visible")) {
        $(".sign-in-actions").addClass("isHidden");
      }
    });
  });
</script>
