<header class="top-header">
  <h3 class="header-logo">yelp*</h3>



  <nav class="top-nav group">
    <form class="form-top-search" action="<%= search_url %>" method="get">
      <label for="find">Find</label>
      <input type="text" name="search[find]" value="" id="find">

      <label for="near">Near</label>
      <input type="text" name="search[near]" value="" id="near">

      <input type="submit" name="submit" value="submit" id="submit">
    </form>

    <div id="header-account-box">
      <% if signed_in? %>
      <a href="<%= profile_url %>"><img src="<%= current_user.avatar %>" height="40"></a>
        <%= button_to "sign out", session_url, method: :delete %>
        <!-- <button class="auth-button">log out</button> -->
      <% else %>
        <!-- <button class="auth-button">log in</button>
        <button class="auth-button">sign up</button> -->

        <%= link_to "log_in", new_session_url %>
        <%= link_to "sign up", new_user_url %>

      <% end %>
    </div>

    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="<%= current_user ? user_url(current_user.id) : new_user_url %>">About Me</a></li>
      <li><a href="#">Write a Review</a></li>
      <li><a href="#">Find Friends</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Talk</a></li>
      <li><a href="#">Events</a></li>
    </ul>
  </nav>


</header>
<hr>